<!-- After User Log-in, User will be directed to User show page which would be the Dashboard -->

<div class="container margin-top">
	<h2>Welcome back <%=@user.first_name%>.</h2>
</div>

<hr/>

<div class= "container thin-border-box top-margin div-width">
	<table style= "width:100%">
		<tr>
			<td><strong>Full Name:</strong></td>
			<td><%=@user.first_name%> <%=@user.last_name%></td>
		</tr>
		<tr>
			<td><strong>Email:</td>
			<td><%=@user.email%></td>
		</tr>
	</table>
</div>

<hr/>

<div class="container">
	<%=link_to "Create a Case", new_case_path%>
</div>


<hr/>

<div class="container">
	You have created <%=@cases.length%> cases since you boarded.
	<br/>
	<table>
		<%@cases.each_with_index do |c,i|%>
		<tr>
			<td><%=i+1%>:</td>
			<td><%=c.serial_number%></td>
			<td><%=link_to "View",case_path(c)%></td>
		</tr>

		<%end%>
	</table>
	
</div>

